* {
    padding: 0px;
    margin: 0px;
    font-family: Cambria;
    box-sizing: border-box;
    color: #444;
}

a {
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}

a:hover {
    color: #dec129;    
}